<li>
  <time [ngStyle]="{ opacity: displayTime() ? '100' : '0' }">{{
    entry().startTimestamp| displayTime
  }}</time>

  @for (number of indentArray(); track $index) {
    <span class="leading-line"></span>
  }

  <span
    class="line"
    [ngStyle]="{ opacity: isMultiLine() ? '100' : '0' }"
  ></span>

  <span class="dot"></span>

  <div
    class="text-elements-container"
    [id]="entry().id"
    (mouseover)="entryIsHovered.set(true)"
    (mouseleave)="entryIsHovered.set(false)"
  >
    <div class="text-container" [ngStyle]="{ 'max-width': textWidth() }">
      @if (entry().showTodo) {
        <app-checkbox
          class="checkbox"
          [checked]="entry().isDone"
          (checkedToggle)="onCheckboxToggled($event)"
        />
      }
      <div
        class="text"
        [contentEditable]="true"
        [ngStyle]="{ 'text-decoration': entry().isDone ? 'line-through' : '' }"
      >
        {{ entry().text }}
      </div>
    </div>
    <app-duration-estimate
      class="duration-component"
      [startTime]="entry().startTimestamp"
      [endTime]="entry().endTimestamp"
      [estimate]="entry().estimatedDuration"
    />
    <app-display-tags
      class="tags"
      [tags]="entry().tags"
      [ngStyle]="{ opacity: entryIsHovered() ? '100' : '0' }"
    />
  </div>
</li>
