<span class="checkbox" (click)="onClick()" [ngStyle]="{'background-color': checked() ? 'var(--secondary-text)' : ''}">
    <span class="checkmark" [ngStyle]="{'opacity': checked() ? '100' : '0'}"></span>
</span>

<!-- <label class="checkbox-container">
    <input
      class="checkbox-input"
      type="checkbox"
      [ngModel]="checked()"
      (ngModelChange)="onClick($event)"
    />
    <div class="checkbox-border">
      <div class="checkbox-filling" *ngIf="checked()"></div>
    </div>
    <ng-content> </ng-content>
  </label> -->